	Options All -Indexes
	# prevent folder listing
	# IndexIgnore *

    RewriteEngine On

    RewriteBase /
    
    RewriteRule ^truyen$ story/index.php
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /handle.php?path=$1 [NC,L,QSA]
    
    # RewriteRule ^index.html$ index.php
    # ForceType application/x-httpd-php
    # AddType text/css .css

	# RewriteRule ^index\.php$ – [L]
	# RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule . index.php [L]

	# ErrorDocument 401 /error/401.php
	# ErrorDocument 403 /403.php
	# ErrorDocument 404 /gactruyen/handle.php
	# ErrorDocument 500 /error/500.php
    
    # for all invalid links (non existing files):
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule .* - [L,R=404]
