/*--------Class story---------*/
.story {
    color: #000;
    font-size: 14px;
    font-family: verdana;
    border: none;/* 1px solid #cecece; */
    padding: 3px;
    background-color: #fff;
    background-image: url(http://gactruyen.mobie.in/css/img/paper.png);
	line-height: 150%;
}
.noidung {
    border: 1px solid #fff;
    padding: 5px;
	background: #fff;
}
.postinfo {
    background-color: #EEEEEE;
    border-bottom: 1px solid #e5e5e5;
    padding: 4px 2px 4px 5px;
    font-size: 14px;
    font-family: verdana;
    text-color: #000000;
}
/*------Class list story--------*/
.mainstory, .mainsub {
    border:1px solid #cecece;
    margin:0 0 1px 0;
	background: #fff;
	font-size: 13px;
}
.postby {
background: url(http://gactruyen.mobie.in/css/img/pin.png) no-repeat center left;
color: #666;
padding: 2px 3px 2px 18px;
font-size: 12px;
}
.view {
background: url(http://gactruyen.mobie.in/css/img/view.png) no-repeat center left;
color: #666;
padding: 2px 3px 2px 18px;
font-size: 12px;
}

/*------Hidden item-----*/
.hidden {
	display: none;
}