/*------Filelist page-----------*/

.filelist_paging, .pagination, .xt_pagination {
    background-color: #D0D7DD;
	border: 1px solid #ddd;
	padding: 4px 5px;
    text-align: center;
    
 }

.pagination-option {
    display: inline-flex;
}

.currentpage, .pagination span, .filelist_paging span, .xt_pagination .selected {
	color:#FFFFFF;
    background-color: #8cafc6;
    border: 1px solid #417394;
    padding: 0px 5px 0px 5px;
}

.filelist_paging a, .pagination a, .xt_pagination a, .currentpage a {
    border: 1px solid #417394;
	background-color: #f2f6f8;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
	margin: 1px;
}
.filelist_paging a:hover, .pagination a:hover, .currentpage a:hover {
 	border: 1px solid #88beff;
    padding: 0px 4px 0px 4px;
    background-color: #f2f6f8;
    margin: 1px;
}

.bar_pagination {
    border:1px solid #cecece;
    margin:0 0 1px 0;
    background: #fff;
    font-size: 13px;
}
