



small {
	font-size: x-small;
}

h1, h2, h3, h4, h5 {
	font-weigth: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    display: inline;
}
h1 {
	font-size: 16px;
}
h2,h3{font-size:13px}
h4, h5 {
    font-size: 12px;
}
hr {
    border: 1px solid #d5d5d5;
}
/*-------Orther class------*/
.hr {
	margin-top: 3px;
	margin-bottom: 3px;
	border:none;
	border-bottom: 1px dashed #ddd;
	line-height: 5px;
	padding: 2px;
}
.rmenu {
    padding: 5px;
    background-color: #F2DEDE;
    border: 1px solid #fff;
    color: #B94A48;
}

.wrap {
	box-shadow: -1px 1px 13px #AAA;
  	background: rgba(225,225,225,0);
	border-radius: 5px;
}
/*-----Class chat-----*/
.phpcode, .code {
  line-height: initial;
  background-color: #E0E6E9;
  border: 1px dotted #9FAEBB;
  margin: 4px;
  padding: 2px 2px 2px 2px;
  overflow: auto;
  color: #0000BB;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}
.quote, .quot {
    font-size: 10px;
    background-color: #f2f6f8;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    border-left: 3px solid #80abc8;
    margin: 2px;
    color: grey;
    padding: 4px;
}
/*----Bar Menu------*/
.navbar{
	background:#E74946;
text-transform: uppercase;
font-size: 14px;
color: #fff;
font: 13px Tahoma, Arial, Helvetica, sans-serif;
}
.navbar span.item {
	display:inline-block;font-size:14px;color:#fff;padding:4px
}
.navbar .selected {
	background:#C83C39
}
.navbar span.item:hover {
	background:#C83C39
}

/* ---------Class header----------
.header {
    padding: 5px 0 6px 6px;
    color: #fff;
    background-attachment: scroll;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3F3F3F;
    background-position: 0 -56px;
    background-repeat: repeat-x;
    }
-------Class footer-----------
.footer {
    padding: 5px 0 6px 6px;
    color: #fff;
    background-attachment: scroll;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #3F3F3F;
    background-position: 0 -56px;
    background-repeat: repeat-x;
}
.footer a {
    color: #fff;
}
.footer_title {
    padding-bottom: 4px;
    border-bottom: 1px solid #E74946;
    font-size: 14px;
    margin-bottom: 6px;
    color: #eee;
} */

/*------Class title--------*/
.phdr {
	box-shadow: -1px 1px 10px #AAA;
    font-family: Arial;
    font-weight: bold;	
	background: #444 url('http://gactruyen.mobie.in/css/img/tcat.png');
	margin-top: 1px;
    padding: 6px;
    color: #eee;
	border-left: 4px solid #3598DC;
}
/*
.phdr:nth-child(even) {
	margin-top: 5px;
    background: #444;
    padding: 6px;
    color: #eee;
	border-left: 4px solid #3598DC;
}
.phdr:nth-child(2n+1) {
	margin-top: 5px;
    background: #444;
    padding: 6px;
    color: #eee;
	border-left: 4px solid #F39C11;
}
.phdr:nth-child(3n+1) {
	margin-top: 5px;
    background: #444;
    padding: 6px;
    color: #eee;
	border-left: 4px solid #006600;
}
.phdr:nth-child(4n+1) {
	margin-top: 5px;
    background: #444;
    padding: 6px;
    color: #eee;
	border-left: 4px solid #CC33CC;
}
*/
.phdr a:hover, .phdr a {
    color: #fff;
}


/*-------Class list---------*/
.list1, .online_content, .online_back {
    padding: 8px;
    border: 1px solid #ddd;
    border-top:none;
    background: #fff;
}
/*
.list1:nth-child(even) {
    background: #f9f9f9;
}
.list1:nth-child(2n+1) {
    background: #f0f0f0;
}
*/

.list2 {
border: 1px solid #ddd;
border-top: 1px solid #fff;
border-bottom: 1px solid #cacaca;
margin: 0;
padding: 4px;
}

.list2:nth-child(even) {
background-color: #f5f5f5;
}
.list2:nth-child(2n+1) {
background-color: #ebebeb;
}

.list2:hover {
    background: #F0F0F0;
    border-bottom: 1px solid #ddd;
}


/*--------Class story---------*/
.story {
    color: #000;
    font-size: 14px;
    font-family: verdana;
    border: none;//1px solid #cecece;
    padding: 3px;
    background-color: #fff;
    background-image: url(http://gactruyen.mobie.in/css/img/paper.png);
	line-height: 150%;
}
.noidung {
    border: 1px solid #fff;
    padding: 5px;
	background: #fff;
}
.postinfo {
    background-color: #EEEEEE;
    border-bottom: 1px solid #e5e5e5;
    padding: 4px 2px 4px 5px;
    font-size: 14px;
    font-family: verdana;
    text-color: #000000;
}
/*------Class list story--------*/
.mainstory, .mainsub {
    border:1px solid #cecece;
    margin:0 0 1px 0;
	background: #fff;
	font-size: 13px;
}
.postby {
background: url(http://gactruyen.mobie.in/css/img/pin.png) no-repeat center left;
color: #666;
padding: 2px 3px 2px 18px;
font-size: 12px;
}
.view {
background: url(http://gactruyen.mobie.in/css/img/view.png) no-repeat center left;
color: #666;
padding: 2px 3px 2px 18px;
font-size: 12px;
}

/*------Hidden item-----*/
.hidden {
	display: none;
}

/*-----Transition img----------*/
.img{
    border: 1px solid #eee;
  	background: #fff;
    margin: 8px;
    max-width:90%;
    height:auto;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    position: relative;
	border-radius: 3px;
	padding: 3px;
	box-shadow: 0 0 2px #999;
}

.img:hover{
  	background-color:#eee;
	box-shadow: 0 0 55px #999;
    -moz-box-shadow: 0 0 55px #999;
    -webkit-box-shadow: 0 0 55px #999;
    transform: scale(1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1);
    -o-transform: scale(1.1);
    z-index: 1;
    opacity: 1;
}
#img {
border-radius: 5px;
    padding: 0;
    margin: 4px 4px 0 0;
    border: 1px solid #d5d5d5;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  max-height: 55px;
  max-width: 55px;
}
#img:hover  {
  border-radius: 3px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    position: relative;
    box-shadow: 0px 0px 8px #666;
    -moz-box-shadow: 0px 0px 8px #666;
    -webkit-box-shadow: 0px 0px 8px #666;
}
/*----------Prefix------------*/
.prefix-vang {
	font-family: Time News Roman;
    background-color:#F89406;
    border-radius:3px;
    color:#FFF;
    font-size:normal;
    font-weight:bold;
    line-height:14px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    vertical-align:baseline;
    white-space:nowrap;
    padding:1px 4px 2px;
}
.prefix-xanh {
	font-family: Time News Roman;
    background-color:#3A87AD;
    border-radius:3px;
    color:#FFF;
    font-size:normal;
    font-weight:bold;
    line-height:14px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    vertical-align:baseline;
    white-space:nowrap;
    padding:1px 4px 2px;
}
.prefix-xanh2 {
	font-family: Time News Roman;
    background-color:skyblue;
    border-radius:3px;
    color:#FFF;
    font-size:normal;
    font-weight:bold;
    line-height:14px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    vertical-align:baseline;
    white-space:nowrap;
    padding:1px 4px 2px;
}
.prefix-nau {
	font-family: Time News Roman;
  	background-color:#B94A48;
    border-radius:3px;
    color:#FFF;
    font-size:normal;
    font-weight:bold;
    line-height:14px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    vertical-align:baseline;
    white-space:nowrap;
    padding:1px 4px 2px;
}
.prefix-do {
	font-family: Time News Roman;
  	background-color:#CD0000;
    border-radius:3px;
    color:#FFF;
    font-size:normal;
    font-weight:bold;
    line-height:14px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    vertical-align:baseline;
    white-space:nowrap;
    padding:1px 4px 2px;
}
.prefix-luc {
	font-family: Time News Roman;
  	background-color:#093;
    border-radius:3px;
    color:#FFF;
    font-size:normal;
    font-weight:bold;
    line-height:14px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    vertical-align:baseline;
    white-space:nowrap;
    padding:1px 4px 2px;
}

.prefix-cam {
	font-family: Time News Roman;
  	background-color:orange;
    border-radius:3px;
    color:#FFF;
    font-size:normal;
    font-weight:bold;
    line-height:14px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    vertical-align:baseline;
    white-space:nowrap;
    padding:1px 4px 2px;
}

.prefix-vang a,  .prefix-do a, .prefix-cam a, .prefix-xanh a,  .prefix-xanh2 a, .prefix-luc a, .prefix-nau a {
  	color: #fff;
}

/*--------Class like and file--------*/
.file-attach {
    background-color: #fff7eb;
    border: 1px solid #f9d9b0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 4px;
    padding: 0;
    max-width: 360px;
}
.admin-say .here {
    background: transparent url(http://gactruyen.mobie.in/css/img/admin-say.png) no-repeat bottom left;
    width: 15px;
    height: 12px;
    position: absolute;
    left: 106px;
    bottom: -12px;
    z-index: 1;
}
.file-attach .attach {
    background: #fadeba url(http://gactruyen.mobie.in/css/img/bg-att.png) repeat-x top left;
    font-weight: bold;
    margin: 0;
    padding: 2px 4px 2px 2px;
    border-bottom: 1px solid #f9bc6d;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
.file-attach .file {
    font-size: 11px;
    background-color: #fff7eb;
    margin: 0;
    padding: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}
.admin-say {
    color: #f00;
    padding: 2px;
    margin: 2px 2px 4px;
    background-color: #fff7eb;
    border: 1px solid #f9bc6d;
    font-size: 12px;
    font-style: italic;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.mod-vote {
    background: #fadeba url(http://gactruyen.mobie.in/css/img/bg-att.png) repeat-x top left;
    padding: 2px;
    margin: 2px;
    text-align: center;
    color: #333;
    max-width: 160px;
    border: 1px solid #f9bc6d;
    border-radius: 3px;
}
/*----------Input--------*/

input, textarea {
    background: #FDFDFD;
    color: #555;
    border: 1px solid #ddd;
    padding: 3px;
    margin: 1px;
	border-radius: 3px;
}
input[type="checkbox"] {
    vertical-align: middle;
}
input[type="submit"], input[type="button"], input[type="reset"], .button {
   background: #fff url('http://gactruyen.mobie.in/css/img/bg-pattern-cyan.png') repeat-x bottom;
    background: #8B9C38;
    padding: 3px 4px;
    color: #fff;
    border: 0px;
    cursor: pointer;
    margin: 1px;
    border-radius: 3px;
}
.button a {
	color: #fff;
}
input[type="submit"]:hover, .button a:hover {
    background: #808F33;
}
select {
    background: #FDFDFD;
    color: #555;
    border: 1px solid #d1d1d1;
    padding: 4px;
    margin: 3px 0px;
    box-shadow: inset 1px 1px 3px #eee;
    border-radius: 4px;
    cursor: url("http://gactruyen.mobie.in/css/img/bt.png"),auto;
}
.tags {
    padding: 1px;
}

.tags a {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border: 1px solid #B3CEE1;
    margin: 1px;
    padding: 2px;
    text-decoration: none;
    font-size: 90%;
    border-radius: 3px;
}

.tags a:hover {
    background-color: #C4DAE9;
    border: 1px solid #C4DAE9;
    text-decoration: none;
    border-radius: 3px;
}